* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

#main-link-list{
    display: flex;
    flex-direction: column;
    gap: 17.5px;
    width: 95%;
    margin: auto;

    a {
        display: block;
    }
}

section.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 17.5px;
    min-width: 7.5in;

    div {
        width: 45%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}